APP_NAME=Enterprise AI Business Decision Intelligence Platform
APP_ENV=production
DEBUG=False

SECRET_KEY=CHANGE_ME
JWT_SECRET_KEY=CHANGE_ME

DATABASE_URL=CHANGE_ME

REDIS_URL=CHANGE_ME

GROQ_API_KEY=CHANGE_ME
HF_TOKEN=CHANGE_ME
LANGCHAIN_API_KEY=CHANGE_ME

FRONTEND_URL=CHANGE_ME